<tr>
  <td><%= conversion.from_currency%></td>
  <td><%= conversion.to_currency%></td>
  <td><%= conversion.amount%></td>
  <td><%= conversion.display_amount%></td>
  <td><%= conversion.exchange_rate%></td>
</tr>