<p>Conversion</p>
<p>from_currency: <%= @conversion.from_currency%></p>
<p>to_currency: <%= @conversion.to_currency%></p>
<p>Amount: <%= @conversion.amount%></p>
<p>Converted Amount: <%= @conversion.display_amount%></p>
<p>exchange_rate: <%= @conversion.exchange_rate%></p>
